<hr> 
<body>
  <a href=/logout id=goHome>
    Logout
  </a>
 <footer>
    <span class=bold>Team 6 Group Project:</span><br>
     Joshua Okero, Thomas Wood, Tyler Poyer, and Zachary Davis. 2024
 </footer>
</body>
</html>
